      <nav class="navBar">
        <a href="/">
          <div class="logo"></div>
        </a>
        <div class="btnContainer">
        {{#if loggedIn}}
        <a href="/">HOME</a>
        <a href="/dashboard">DASHBOARD</a>
        <button id="logout" class="btn-no-style">LOGOUT</button>
        {{else}}
        <a href="/">HOME</a>
        <a href="/login">LOGIN</a>
        {{/if}}
        </div>
      </nav>