* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    background: linear-gradient(rgba(17, 50, 69, 0.1),
            rgba(17, 50, 69, 0.1));
    min-height: 100vh;
    font-family: "Lucida Console", "Courier New", monospace;
}

main {
    display: flex;
    justify-content: center;
}

.logo {
    background-image: url('/images/logo.png');
    width: 300px;
    margin: 10px;
}

.navBar {
    background: rgb(17, 50, 69);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navBar a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-size: 25px;
}

.post-list li {
    list-style: none;
    margin: 30px;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: white;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin-right: 20px;
    font-size: 25px;
}

.post {
    background: white;
    border: 2px solid rgb(188, 188, 188);
    border-radius: 6px;
    max-width: 80vw;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.post div {
    padding: 4px;
}

.postContainer {
    margin-top: 30px;
}

.comment {
    margin: 10px;
}

.commentFormContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.commentFormContainer textarea {
    width: 100%;
    height: 60px;
}

.singleCommentBtn button {
    color: white;
    border: 1px solid grey;
    border-radius: 35px;
    padding: 1px 10px 1px 10px;
    margin-top: 5px;
    background-color: gray;
    font-size: 20px;
}

.loginSignup {
    min-width: 60vw;
    display: grid;
    justify-content: center;
}

.loginSignup form button {
    margin-left: 30px;
}

.loginSignup form div input {
    width:60vw;
}

.emailDiv {
    margin-left: 30px;
}

.loginSignup form div {
    margin: 15px;
}

.loginSignup button {
    color: white;
    border: 1px solid grey;
    border-radius: 35px;
    padding: 1px 10px 1px 10px;
    margin-top: 5px;
    background-color: gray;
    font-size: 20px;
}

.dashboardContainer {
    width: 70vw;
    display: flex;
    justify-content: center;
}

.yourPosts {
    width: 60vw;
}

.noPostsYet {
    width: 60vw;
}

